*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#f3f4f6;
  display:flex;
  justify-content:center;
  padding:40px 20px;
}

.app{
  width:100%;
  max-width:500px;
  background:#fff;
  padding:20px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

h1{
  margin-bottom:20px;
}

form{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

input{
  flex:1;
  padding:12px;
  border:1px solid #ddd;
  border-radius:10px;
}

button{
  border:none;
  background:#2563eb;
  color:#fff;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

ul{
  list-style:none;
  display:grid;
  gap:10px;
  margin-top:20px;
}

li{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  border:1px solid #9b9696;
  border-radius:12px;
}

.actions{
  display:flex;
  gap:8px;
}

.actions button{
  padding:8px 10px;
}